@import "../base/base";
@import "../abstracts/variables";

.button {
    display: inline-block;
    height: 52px;
    padding: 16px 54px;
    border-radius: 62px;
    background: $Dark;
    color: white;
    font-size: 1rem;
    width: auto;
    text-align: center;
    cursor: pointer;    
 
}

@media (max-width: 415px) {

    .button {
        width: 100%;
        padding: 16px 35px;
    }

}