@import "../base/base";
@import "../abstracts/variables";

.card {
    width: 17rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 10px;
    font-family: $Satoshi;
 
   
    
  
    img {
        border-radius: 10px;
        width: 18rem;
        height: 18rem;
        background-color: $LightGray;
        object-fit: cover;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 1.5rem;
    }

    .info{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.spinner {
    border-radius: 10px;
    width: 18rem;
    height: 18rem;
    background-color: $LightGray;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .crossed {
    color: red;
    font-weight: lighter;
    font-size: 14px;
    border-radius: 62px;
    background: rgba(255, 51, 51, 0.10);
    padding: 6px 12px;
}

///////// Mobil Screen /////////////////////

@media (max-width: 415px) {

    .card {
        width: 147px;
        height: 300px;
        overflow: hidden;
        border-radius: 10px;
        font-family: $Satoshi;

        img {
            border-radius: 10px;
            width: 147px;
            height: 147px;
            background-color: $LightGray;
            object-fit: cover;
        }
    
        h3 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
    
        h4 {
            font-size: 1.2rem;
        }

        .info{
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
       
        }
    
    }

}