/* ColorPicker.module.scss */
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle:hover {
    opacity: 0.8;
  }
  
  .selected {
  display: block;
  color: white;
  }
  
  .unselected {
   display: none;
  }

  .colorsContainer {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}