@import "../base/base";
@import "../abstracts/variables";




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: auto;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-right: 21px;
    padding: 20px 24px;
    color: #000;
    font-family: $Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    .header{
        display: flex;
        align-items: normal ;
        justify-content: space-between;
        width: 100%;
    }

    .colors_base {
        gap: 20px;
        overflow: hidden;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    .colors_container {
        height: 160px;
    }

    .colors_full_container {
        height: auto;
    }

    .sizes_base {
        gap: 20px;
        overflow: hidden;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    .sizes_container {
        height: 160px;
    }

    .sizes_full_container {
        height: auto;
    }

    .price_container {
        margin-top: 21px;
        margin-bottom: 21px;
        width: 100%;

        input {
            width: 100%;
        }

        .range_labels {
            display: flex;
            justify-content: space-between;
        }
    }

    .subtitle {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        color: #000;
        font-family: $Satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    .icon {
        font-size: 20px;
        cursor: pointer;
    }

    .style_base {

        p {
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.60);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .style_container {
        height: 100px;
    }

    .style_extended_container {
        height: auto;
    }


    hr {
        margin-bottom: 24px;
        margin-top: 24px;
        color: rgba(0, 0, 0, 0.60);
    }

    /* Oculta el checkbox */
    input[type="checkbox"] {
        display: none;
    }

    /* Estilo base del label */
    label {
        font-size: 16px;
        cursor: pointer;
        position: relative;
        color: rgba(0, 0, 0, 0.60);
        /* Color más claro cuando no está seleccionado */
        margin-bottom: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color 0.3s ease;
        /* Transición suave para el cambio de color */
    }

    /* Subrayado al hacer hover (opcional) */
    label:hover {
        text-decoration: underline;
    }

    /* Cambiar color y subrayar cuando el checkbox está seleccionado */
    input[type="checkbox"]:checked+label {
        color: rgba(0, 0, 0, 1);
        /* Negro puro */
        text-decoration: underline;
        text-decoration-thickness: 2px;
        /* Grosor del subrayado */
        text-decoration-color: black;
        /* Color del subrayado */
    }

  



}

.show {
    display: block;
}

.hide {
    display: none;
}

.button_filter {
    display: flex;
    height: 48px;
    padding: 16px 54px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 62px;
    background: #000;
    color: #FFF;
    font-family: $Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease;
  }
  .button_filter:active {
    background: #525151; /* Cambia el color de fondo a un gris oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade un poco de sombra para profundidad */
    transform: translateY(2px); /* Simula un desplazamiento hacia abajo */
  }
  