@import "../base/base";
@import "../abstracts/variables";

.form_container {
    max-width: 400px;
	margin: 50px auto;
	padding: 25px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 8px;

  

    a.google {
        background: #4787ed;
    }
    
    a.facebook {
        background: #4267b2;
    }
    
    a.twitter {
        background: #1da1f2;
    }

    input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin: 0 0 3px 0;
        font-size: 14px;
        font-weight: 500;
    }

    button {
        display: block;
        width: 100%;
        border-radius: 3px;
        background:darkgray;		
        font-size: 14px;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

    h3 {
        margin-top: 0;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: $Dark;
    }


}

.help {
	text-align: center;
	font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;

    a {
        color: blue;
    }
}

.submit {
    padding: 12px;
}