@import "../abstracts/variables";



.ul_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 48px;
    margin: 24px 100px;
    background-color: white;
}

.center_links {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0px 40px;
}

.right_links {
    display: flex;
    margin-left: 40px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.searchbar {
    display: flex;
    padding: 12px 16px;
    align-items:center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 62px;
    background: #F0F0F0;
    color: rgba(0, 0, 0, 0.40);
    font-family: $Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon{
   font-size: 24px;
   margin: 0 7px;
}

.dropdown {
    display: flex;
    align-items: center;
    
}

@media (max-width: 375px) {


    .ul_list {
        border: solid 1px green;
    }



}