@import "../abstracts/variables";



.ul_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 48px;
    margin: 24px 100px;
    background-color: white;
}

.center_links {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0px 40px;
}

.right_links {
    display: flex;
    margin-left: 40px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.searchbar {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 62px;
    background: #F0F0F0;
    color: rgba(0, 0, 0, 0.40);
    font-family: $Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobil_searchbar {
    display: none;
}

.icon {
    font-size: 24px;
    margin: 0 7px;
}

.dropdown {
    display: flex;
    align-items: center;
}

.mobil_menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 375px) {

    .ul_list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        align-content: center;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 0;
        width: 90%;
    }

    .searchbar {
        display: none;
    }

    .mobil_searchbar {
        display: block;
        font-size: 24px;
        margin: 0 7px;
    }

    .center_links {
        display: none;
    }

    .right_links {
        margin: 0;
    }

    .mobil_menu {
        display: block;
        font-size: 24px;
        margin-left: 7px;
    }

    .mobile_menu_expanded{
        display: flex;
        justify-content: space-between;
        margin: 0px 4px;
        width: 90%;
      
    }

}