@import "../abstracts/variables";

html, body {
    font-family: $MainFont;
    color: $Dark;
    min-height: 100%;
    position: relative;
  
}

p {
    font-size: 16px;
}

body {
    min-height: 80vh;
    
 
}

