@import "../base/base";
@import "../abstracts/variables";


.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 12px;
    margin-top: 20px;
    text-align: left;
}

.image_container {
    margin: 0 17px;
}

.image {
    border-radius: 10px;
    width: 100%;
    height: 20rem;
    background-color: $LightGray;
    object-fit: cover;

}



.discount {
    color: red;
    font-weight: lighter;
    font-size: 14px;
    border-radius: 62px;
    background: rgba(255, 51, 51, 0.10);
    padding: 6px 12px;
}


.original_price {
    color: rgba(0, 0, 0, 0.40);
    text-decoration: line-through;
    margin-right: 8px;
}

.price {
    margin-right: 8px;
}

.hr {
    margin: 24px 0px;
}

.subtitle{
    color: rgba(0, 0, 0, 0.60);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.colorsContainer{
    display: flex;
    gap: 10px;
    margin-top: 16px;
}

.size_badge {
    padding: 10px 20px;
    border-radius: 62px;
background: #F0F0F0;
text-transform: uppercase;
font-size: 14px;
font-weight: 400;
}