
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




$MainFont: 'Montserrat', sans-serif;
$Satoshi:   "Roboto Mono", monospace;




// Colors
$Dark: hsl(0, 0%, 8%);
$light: white;
$Rosa: hsl(37, 66%, 93%);
$LogoOscuro: hsl(190, 100%, 14%);
$WhatsappGreen: #7AD06D;
$NavBar: #003B47;