
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




$MainFont: 'Montserrat', sans-serif;
$Satoshi:   "Roboto Mono", monospace;




// Colors
$Dark: hsl(0, 2%, 9%);
$Light: white;
$LightGray:  rgba(240, 238, 237, 1);